---
import Layout from "../../layouts/Layout.astro";
import HeroVSL from "../../components/HeroVSL.astro";
---

<Layout>
  <div class="px-2 sm:px-0 relative">
    <img
      src="/images/sales-mastery-background.webp"
      alt="Sales Mastery Background"
      class="absolute top-0 left-1/2 -translate-x-1/2 w-auto min-w-[100vw] object-cover h-full min-h-[100%] z-[-10]"
    />
    <HeroVSL />
  </div>
</Layout>
