@import "tailwindcss";

body {
  font-family: 'Inter Variable', sans-serif;
}

:root {
	--primary: #FFD200;
	--background: #111;
}

/* Scroll */
* {
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track,
body {
	background-color: var(--background);
	overflow-x: clip;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary) !important;
	border-radius: 20px;
	border: 5px solid var(--background);
}

.bgLinear {
	@apply bg-linear-90 from-[#F3D444] to-[#FFD200];
}
.bgHardYellow {
	@apply bg-[#FFD200];
}

.textHardYellow {
	@apply text-[#FFD200];
}
.textSoftYellow {
	@apply text-[#F3D444];
}