<section class="py-[45px]">
	<img class="w-[180px] mx-auto" src="/images/sales-mastery-logo.png" alt="Sales Mastery">
	<p class="leading-[120%] mt-8 mx-auto text-[18px] text-center w-[500px] max-w-full text-white/80">+1.5M usd cerrados en ventas mientras vivo viajando</strong></p>
	<h1 class="text-white font-extrabold text-[37px] max-w-[790px] text-center mt-4 leading-[100%] mx-auto">
		Si te gustaría trabajar desde tu casa, ganar en dólares y manejar tus propios horarios, esta 
		<span class="relative italic">
			es tu oportunidad
			<svg class="absolute -bottom-[6px] left-0 w-full h-auto -z-10" width="314" height="11" viewBox="0 0 314 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.999881 8.78845C205.765 -0.969132 259 3.00001 313.658 5.5327" stroke="url(#paint0_linear_18_15)" stroke-width="4"/>
				<defs>
					<linearGradient id="paint0_linear_18_15" x1="1.05304" y1="4.34998" x2="313.628" y2="8.09373" gradientUnits="userSpaceOnUse">
						<stop stop-color="#F3D444"/>
						<stop offset="1" stop-color="#FFD200"/>
					</linearGradient>
				</defs>
			</svg>
		</span>
	</h1>
	<p class="leading-[120%] mt-4 mx-auto text-[18px] text-center w-[500px] max-w-full text-white/80">Genera ingresos constantes y disfruta de la <strong>libertad y flexibilidad de las ventas remotas.</strong></p>
	<div class="mt-8 bgLinear rounded-[18px] p-1 overflow-clip mx-auto max-w-full w-[725px]">
		<div class="p-3 uppercase font-bold text-[#111] text-center">
			paso 1 de 2: mira el video y aprende como lo hacemos
		</div>
		<div class="bg-gray-300 rounded-br-[14px] rounded-bl-[14px] w-full aspect-video">

		</div>
	</div>
	<p class="text-center font-semibold text-white text-[18px] mb-2 mt-8">PASO 2 DE 2:</p>
	<button class="cursor-pointer flex gap-2 items-center uppercase bgLinear w-fit font-semibold text-[#111] outline-4 outline-white/30 mx-auto py-4 px-8 rounded-[16px]">
		Agendar mi Sesión de Consultoría Gratuita
		<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6.41318 11.6364L5.09499 10.3296L8.55522 6.86932H0.447266V4.94887H8.55522L5.09499 1.49432L6.41318 0.181824L12.1404 5.9091L6.41318 11.6364Z" fill="#111111"/>
		</svg>
	</button>
	<p class="text-white/80 text-center mt-4">¡Ultimas plazas del mes!</p>
	<div class="mt-8 mx-auto w-fit flex gap-2 items-center">
		<img src="/images/sales-mastery-profiles.png" alt="Sales Mastery Profiles">
		<p class="text-white/80 max-w-[220px] leading-[120%]">+100 clientes ya superaron los USD 2.000 por mes</p>
	</div>
</section>