<section class="pt-[100px]">
	<div class="max-w-[900px] mx-auto">
		<h2
			class="max-w-[620px] mx-auto -mt-12 leading-[110%] mb-4 font-extrabold text-white text-[35px] text-center"
		>
			Nuestro método de <span class="textHardYellow">3 pasos</span> para vivir
			de cerrar ventas online
		</h2>
		<p
			class="max-w-[280px] text-[16px] mx-auto text-center text-white/80 leading-[120%]"
		>
			El paso a paso que crea casos de éxito todos los meses.
		</p>
		<div class="grid grid-cols-3 mt-8">
			<div class="bg-[#111] p-[2px] overflow-clip relative rounded-lg">
				<div
					class="bgHardYellow -top-[50px] blur-2xl left-[calc(50%-50px)] size-[100px] rounded-full absolute"
				>
				</div>
				<div class="bg-[#111] relative px-6 pt-[50px] rounded-[6px]">
					<div class="shadow-[0_10px_20px_#FFFFFF30] size-[47px] mx-auto rounded-full flex items-center justify-center text-[22px] text-white font-extrabold bg-linear-0 to-[#F3D444] from-[#FFD200]">
						1
					</div>
					<h3 class="text-white font-bold text-center text-[18px] leading-[110%] mt-4">Te enseñamos a cerrar ventas por videollamada</h3>
					<div class="bg-linear-0 from-[#8D7B27] mt-8 to-[#F3D444] p-4 rounded-tl-[10px] rounded-tr-[10px]">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
