---

---

<footer class="bg-[rgba(17,17,17,1)] py-12 sm:py-16 md:py-20">
  <div class="w-full px-4">
    <p class="text-white/80 text-center text-base text-balance">
      © Sales Mastery 2025.<br class="md:hidden" /> Todos los derechos reservados.
    </p>
  </div>
</footer>
