---

---

<footer class="bg-[rgba(17,17,17,1)] py-12 sm:py-16 md:py-20">
  <div class="w-full px-4">
    <p class="text-white/80 text-center text-sm sm:text-base">
      © Sales Mastery 2025. Todos los derechos reservados.
    </p>
  </div>
</footer>
