---
const { bg, text, bgClass, highlight } = Astro.props;
---

<div class="flex flex-col items-center relative">
  <span
    class={`text-transparent bg-clip-text bg-linear-0 from-[white]/0 leading-[90%] to-white opacity-[8%] sm:opacity-[10%] text-center block text-5xl sm:text-6xl md:text-8xl lg:text-[124px] font-extrabold ${bgClass} mb-1 sm:mb-0`}
    >{bg}</span
  >
  <h2
    class="-mt-4 sm:-mt-6 md:-mt-8 lg:-mt-12 font-extrabold text-white text-xl sm:text-2xl md:text-3xl lg:text-[35px] text-center uppercase px-4 relative z-10"
  >
    {text}
    <span class="text-[#ffd200] inline">{highlight}</span>
  </h2>
</div>
